NEXT_PUBLIC_SITE_URL=https://www.example.com
NEXT_PUBLIC_TMALL_STORE_URL=https://minvlang.tmall.com/
NEXT_PUBLIC_JD_STORE_URL=https://mall.jd.com/index-127854045.html?cid=0
NEXT_PUBLIC_GA4_ID=
NEXT_PUBLIC_BAIDU_TONGJI_ID=
